@font-face {
  font-family: "MullerBoldItalic";
  src: local("MullerBoldItalic"),
  url("./fonts/Fontfabric-MullerExtraBoldItalic.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "MullerExtraBoldItalic";
  src: local("MullerExtraBoldItalic"),
  url("./fonts/Fontfabric-MullerExtraBoldItalic.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "MullerRegular";
  src: local("MullerRegular"),
  url("./fonts/Fontfabric-MullerRegular.otf") format("truetype");
  font-weight: normal;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.test {
  font-family: MullerRegular, serif;
}

